CSS Reset*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Fonts:  sans-serif will be the fallback if Open Sans has an issue*/
body { 
	font-family: 'Open sans',sans-serif;
}

/*Navigation Bar Start*/
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*descendant selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem; 
	display: inline;
}
/*Navigatin Bar End*/

/*Intro Section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*Intro Section End*/

/*Succeed Info Section*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
/*NOTE: One line coding-TRBL:  Top Right Bottom Left */
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

/*take note of the card element*/
#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem ;

}
/*Succeed Info Section End

/*pre-footer*/
#pre-footer {
	background-color:#002540 ;
	color: white;

}

#pre-footer .card {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	min-height: 160px;
	width: 20%;
	margin-left: 1rem;
	margin-right: 1rem ;
	margin-bottom: 1rem;
	margin-top:1rem;
	padding: 3px 22px 3px 22px;
}

/*Footer*/
footer {
	padding: 0.7rem;
	text-align: left;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*Footer End*/